<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.app.notifyit"
      android:versionCode="1"
      android:versionName="1.0">
      <uses-sdk android:minSdkVersion="8" />


    <application android:icon="@drawable/notifyit" android:label="@string/app_name">
        <activity android:name=".NotifyIt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".MessageActivity"  />
        <activity android:name=".DateTimeActivity" />
        <activity android:name=".SetViaActivity" />
        <activity android:name=".SetRepeatActivity" />
        <activity android:name=".EditNotificationActivity" />
        
        <receiver android:process=":remote" android:name="com.android.app.notifyit.NotifyActivity"/>
    </application>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
</manifest>